*{
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
.main-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color:rgb(237, 244, 247); */
}
.subscription-page-view{
  width:70vw;
  height:90vh;
  display: flex;
  flex-direction: row;
  box-shadow: 3px 3px 3px 3px rgb(243, 235, 235); 
  border-radius: 16px;
  background-color: white;
}
/* -----------------navbar--------------- */
.subscription-page-navbar{
  flex-basis: 30%;
  width:100%;
  border-radius: 16px; 
  margin: 15px;
  padding: 30px 30px;
  background-image: url('./assets/images/bg-sidebar-desktop.svg');
  background-repeat: no-repeat;
  width: 30%;
  border-radius:15px;
} 
.subscription-page-step-cotainer{
  display: flex;
  height: 30px;
  margin-bottom:40px;
}
.subscription-page-navbar-highlted-number{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  padding-top:10px;
  background-color: hsl(206, 82%, 78%);
  font-weight: 600;
}
.subscription-page-navbar-name-container{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  list-style: none;
}
.subscription-page-navbar-step{
  color:hsl(228, 89%, 74%);
  margin-bottom: 5px;
  font-size: 13px;
}
.subscription-page-navbar-name{
  color:hsl(0, 0%, 100%) ;
  font-size: 13px;
}
.subscription-page-navbar-number{
  height: 40px;
  width: 40px;
  border: 1px solid hsl(206, 82%, 78%);
  border-radius: 50%;
  text-align: center;
  padding-top:10px;
  font-weight: 600;
  color:hsl(206, 82%, 78%);
}

/* ------------------profile info------- first-step-------- */
.subscription-page-personalinfo-display{
  display: none;
}
.subscription-page-personalinfo{
  flex-basis: 20%;
  padding: 30px;
  padding-right:50px;
  height: 80%;
  margin-left: 20px;
}
.subscription-page-personalinfo-para{
  color: hsl(231, 11%, 63%);
}
.subscription-page-personalinfo-form{
  margin-top: 30px;
  color: hsl(235, 10%, 21%);
  font-weight: 500;
}
.subscription-page-personalinfo-input-container{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.subscription-page-personalinfo-input{
  width:480px;
  height:40px;
  padding: 15px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid hsl(240, 4%, 91%);
}
.input-check{
  display: none;
  font-size: 30px;
  margin: 10px;
  color: rgb(38, 194, 38);
}
.check-success{
  display: block;
}
.subscription-page-personalinfo-input-check{
  display: flex;
}
.error-msg{
  color:red;
}
.subscription-page-personalinfo-input-border{
  border: 0px;
}
.subscription-page-personalinfo-input-err-box{
  border:1px solid red;
}
.subscription-page-personalinfo-input-success-box{
  border:2px solid rgb(39, 197, 39);
}
.personalInfo-button-container{
  display:flex;
  flex-direction: row;
  justify-content: end;
}
.next-step-button{
  margin-top:50px;
  height:40px;
  width:100px;
  border-radius: 8px;
  background-color: hsl(213, 96%, 18%);
  color:hsl(0, 0%, 100%) ;
  border: none;
}

/* -------------second  step------------------ */
.subscription-plan-main-container-display{
 display: none;
}
.subscription-plan-main-container{
  margin-top: 40px;
  margin-left: 45px;
}
.subscription-plan-container{
  margin-top: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap:20px;
}
.subscription-plan{
  border: 1px solid  hsl(229, 24%, 87%);
  padding:20px;
  width: 150px;
  border-radius: 8px;
  padding-bottom: 10px;  
}
.subscription-plan:hover{
 border: 1.5px solid hsl(213, 52%, 50%); 
 }
.subscription-plan-img{
  padding-bottom: 25px;
}
.subscription-plan-details{
  list-style: none;
  padding-left: 0;
}
.subscription-plan-heading{
  color:  hsl(213, 96%, 18%);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 3px;
}
.subscription-plan-price{
  color: hsl(231, 7%, 81%);
}
.toggle-container{
  display: flex;
  justify-content: center;
  background-color:rgb(248, 249, 250);
  margin-top: 20px;
  border-radius: 8px;  
}
.toggle{
  background-color:#20096d;
  width:40px;
  height:20px;
  border-radius: 40px;
  margin: 15px 20px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}
.toggle::before{
  position: absolute;
  content: '';
  background-color: #fff;
  height:14px;
  width:14px;
  border-radius: 100%;
  margin: 3px;
  transition: 0.2s;
}
input:checked + .toggle{
  background-color:#d2d2d2;

}
input:checked + .toggle::before{
transform: translateX(20px);
}
#check_box{
  display: none;
}
.subscription-plan-button-container{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.goback-btn{
  border: none;
  background-color: transparent;
  color:hsl(229, 49%, 36%);
  font-weight: 500;
  font-size: 16px;
  margin-top: 20px;
}
/* ------------------mobile view--------------- */
@media screen and (max-width:1000px){
  .subscription-page-view{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0;
    background-color:rgb(237, 244, 247);
    box-shadow: 2px 2px 2px 2px white;
    height: 100vh;
  } 
 .subscription-page-navbar{
  background-image: url('./assets/images/bg-sidebar-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 400px;
  margin-top: 0px ;
  margin-left: 0px;
  padding-top: 10px;
  padding-left: 70px;
  border-radius: 0px;
 }
 .subscription-page-navbar-name-container{
  display: none;
 }
 .subscription-page-step-cotainer{
  padding-left: 20px;
}
.subscription-page-personalinfo{
  margin-top: 100px;
  margin-left: 30px;
  width: 340px;
  border-radius: 8px;
  position: absolute;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgb(253, 253, 253);
  padding-top: 1rem;
  height: 34rem;
  }
.subscription-page-personalinfo-input{
  width:280px;
}
.subscription-page-personalinfo-input-container{
  margin-bottom: 8px;
}
}
.next-step-button{
  margin-top:20px;
}